* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
  }

  body {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: #f5f5f5;
    text-align: center;
  }

  .menu {
    max-width: 960px;
    margin: 100px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;

  }

  a {
    background: steelblue;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    border-radius: 7px;
    

  }


 
  
  /* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
  @media (max-width: 500px) {
    .menu {
   display: grid;
   grid-template-columns: auto;
   
   
      
    }

    a {
      text-align: center;
    }
  }


  /* styl tabulek */

   table {
  
    border-collapse: collapse;
  }

  table, td, tr {
    border: solid 1px;
  }
td {
  width: 100px;
  text-align: center;
}
